<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hm14_shrestha">

    <application
        android:allowBackup="true"
        android:label="Ant Mania"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hm14_shrestha" >
        <activity android:name="com.example.hm14_shrestha.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hm14_shrestha.PrefsActivity"
            android:enabled="true"
            android:label="Settings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hm14_shrestha.Game"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.hm14_shrestha.Assets" />
    </application>
</manifest>